.navbar {
    background-color: #D8D8D8;
}
.jumbotron {
    padding-top: 6rem;
    background-color: #647E68;
}

#portofolio {
    background-color: #647E68;
}

.footer {
    background-color: #647E68;
}

section {
    padding-top: 5rem;
}